// colors
$dark-navy-blue: #0a192f;
$purple: #124796;
$white: #fff;
$cream: #faf3e0;

// Font Sizes
$basic-font-size: 1rem;
$h1-font-szie: $basic-font-size * 4; // 64px
$h2-font-szie: $basic-font-size * 2; // 32px
$font-24: $basic-font-size * 1.5; // 24px
$font-14: $basic-font-size * 0.875; //14px
